@media (max-width: $pc) {
}
@media (max-width: $tablet) {
}
@media (max-width: $mobile) {
    .about {
        flex-direction: column;
    }
    .about__content {
        margin-bottom: rem(100);
    }
}
@media (max-width: $mobileSmall) {
    .nav__item {
        &:not(:last-child) {
            margin-right: rem(10);
            margin-bottom: rem(15);
        }
    }
}
